form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

form input,
form textarea {
    background-color: var(--primary-color);
    /* background-color: var(--color-text); */
    /* filter: invert(5%); */
    padding: .7rem;
    margin: .3rem 0;
    border: none;
    color: var(--color-text);
    transition: filter ease .3s;
}

/* input:-internal-autofill-selected {
    background-color: -internal-light-dark(var(--color-text));
} */

form textarea {
    height: 150px;
}

form input:focus-visible, form textarea:focus-visible {
    outline: none;
    filter: invert(5%);
    transition: filter ease .3s;
}

form input[type='search']:focus {
    box-shadow: 0 0 0 4px rgba(31, 116, 152, 0.3);
}

form button {
    border: none;
    background: linear-gradient(to left, var(--darkest-color), var(--light-color));
    /* color: inherit; */
    padding: .7rem;
    margin: .3rem 0;
    cursor: pointer;
    color: var(--primary-color);
    font-weight: 600;
    transition: filter ease .3s;
}

.pastel-warm-theme form button {
    /* background: var(--dark-color-bkg); */
    background: var(--color-text);
    color: var(--dark-color-bkg);
    /* border: var(--color-text) solid 2px; */
}

form button:hover {
    filter: brightness(80%); /*stejne jako u projects*/
}