.robots_footer_container {
    position: relative;
    height: 10rem;
    display: flex;
    place-content: flex-end;

}


.robots_footer_container img {
    max-width: 100%;
    /* min-width: fit-content; v mozile to dela bordel */
    position: relative;
   /* bottom: .2rem; */
   filter: invert(90%);
    pointer-events: none;

}

.robots_footer_container ~ .hr {
    position: relative;
    top: -2.8rem;
    border-top: solid rgb(229, 229, 229) .1rem; /*must be same as .project.container bottom border*/
    
}

.footerCredits {
    padding: 2rem 0 1rem;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}

.socials .socials-img {
    height: 2rem;
    filter: invert(90%);
    transition: filter ease .3s;
}

.socials .socials-img:hover {
    filter: invert(70%);
}

.hr ~ div a {
    transition: filter ease .3s;
}

.hr ~ div a:hover {
    filter: brightness(80%);
}


@media (min-width:500px) {
    .robots_footer_container {
        height: 15rem;
        }

    .robots_footer_container ~ .hr {
        top: -4.2rem;
    }
}