.robots_container {
    position: relative;
    height: 10rem;
    display: flex;
    place-content: flex-end;

}


.robots_container img {
    max-width: 100%;
    min-width: fit-content;
    position: relative;
   /* bottom: .2rem; */
   filter: invert(90%);

}

.robots_container ~ .hr {
    position: relative;
    top: -2.8rem;
    border-top: solid rgb(229, 229, 229) .1rem;
    
}



@media (min-width:420px) {
    .robots_container {
            height: 15rem;
        }

    .robots_container ~ .hr {
        top: -4.2rem;
    }
}