
.galleryContainer {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 200;
  display: grid;
  place-items: center;
}

.galleryImg {
  max-width: 90%;
  max-height: 95vh;
  cursor: pointer;
}


.project.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;
    /* padding-bottom: 1rem; */
    position: relative;
}

.project h3 {
    text-transform: uppercase;
    font-weight: 100;
    margin: 1rem 0;
}

.projects-hr {
    border-bottom: solid rgb(229, 229, 229) .1rem;
    width: 80%;
    /* position: absolute; */
    /* bottom: 0; */
    /* left: 50%;
    transform: translateX(-50%); */
    margin: 0 auto;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, var(--darkest-color), var(--light-color));

}

.projectsLink {
    background: linear-gradient(to left, var(--darkest-color), var(--light-color));
    border: solid rgb(229, 229, 229) .1rem;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, var(--darkest-color), var(--light-color));
    display: inline-block;
    padding: .5rem .3rem;
    margin: 2rem 0 1rem;
    position: relative;
    color: var(--dark-color-bkg);
    font-weight: 600;
    transition: filter ease .3s;

}

.projectsLink:nth-of-type(2n) {
    padding-left: 3rem;
    margin-left: .5rem;
    background: transparent;
    color: var(--text-color);
}

.projectsLink:hover {
    filter: brightness(80%);
}

.projectsGithubLogo {
    height: 1.5rem;
    /* padding-right: 1rem; */
    filter: invert(90%);
    position: absolute;
    top: .3rem;
    left: .7rem;
}

.project_photo_phone_width {
    margin: 3rem 0;
    padding: 0 1rem;
}

.project_photo_phone_width img {
  max-width: 100%;
}



.col-2 {
 display: none;
}

@media (min-width: 330px) {
    .projectsLink {
        padding: .5rem .6rem;
    }

    .projectsLink:nth-of-type(2n) {
        margin-left: .8rem;
    }
}

@media (min-width: 1000px) {

    .project.container {
        flex-direction: row;
        padding-bottom: 3rem;
    
    }

    .project.container:nth-of-type(2n) .col-1 {
        order: 2;
    }

    
    .projects-hr {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .col-1 {
        flex: 1 1 50%;
    }
    
    .col-2 {
        display: block;
        margin-top: 2rem; /*zavisle na '[class*="constellation_header"] img' */
        flex: 1 1 50%;
        padding: 2rem 0 2rem 2rem;
        position: relative;
        max-height: 100%;
    }


    .col-2 .desktop-pictures-container {
       width: 100%;
      height: 100%;
      position: relative;
    }

    .col-2 .desktop-pictures-container img {
      /* height: 100%; */
      width: 100%;
      /* object-fit: cover; */
      /* box-shadow: 1rem 1rem var(--primary-color), 1.2rem 1.2rem var(--dark-color); */
      cursor: pointer;
      transition: filter ease .3s;
    }

    .col-2 .desktop-pictures-container img:hover {
        filter: brightness(90%);
    }

    .col-2 .desktop-pictures-container::after {
      display: inline-block;
      width: 100%;
      position: absolute;
      left: 1rem;
      top: 1rem;
      aspect-ratio: 4/3;
      content: '';
      border: solid rgb(229, 229, 229) .1rem;
      border-image-slice: 1;
      border-image-source: linear-gradient(to left, var(--darkest-color), var(--light-color));
      z-index: -1;
    }


    .projectsLink {
        padding: .5rem 1rem;
        margin: 2.5rem 1rem 1rem;
    }

    .project_photo_phone_width {
        display: none;
    }

}

