
/*-----MOBILE FIRST */

/*-------- themes, that are randomly choosed through HOC RandomBackground.js ----------*/

.warm-theme  {
  --darkest-color: #B01E68;
  --dark-color: #DC3535;
  --light-color: #F49D1A;
  --lightest-color: #FFE15D;
}
  
.pastel-warm-theme {
    --darkest-color: #874C62;
    --dark-color: #C98474;
    --light-color: #F2D388;
    --lightest-color: #A7D2CB;
}
  
.pastel-cold-theme {
    --darkest-color: #0D4C92;
    --dark-color: #59C1BD;
    --light-color: #A0E4CB;
    --lightest-color: #CFF5E7;
}
  
  /*------------- */


.App {
  text-align: center;
  color: var(--lightest-color);
  --contrast-color: var(--light-color);
}



/* ------ width of content ----------*/

header > *, main > *, aside > *, footer > * {
  width: 90%;
  margin: 0 auto;
}


/*--------- colors & background-colors -------*/

header, main, aside, footer {
  color: var(--light-color);
}

header {
  background-color: var(--primary-color);
}

main {
  background-color: var(--secondary-color);
}

aside {
  background-color: var(--primary-color);
}

footer {
  background-color: var(--secondary-color);
}


/*------------------*/

.App header {
  /* min-height: 100vh; */
  height: 5rem;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}

.App header nav {
  /* position: fixed; */
  padding-top: 2rem;
  top: 1rem;
  display: flex;
}

.App .logo {
  /* height: 40vmin; */
  /* pointer-events: none; */
  flex: 1;
  text-align: left;
}

.App .logo a {
  color: var(--light-color);
}

a {
  color: white;
  text-decoration: none;
  }
  
  a.active {
    color: var(--contrast-color);
  }


.App header .nav-ul {
  list-style: none;
  display: none;
  gap: 1rem;
  flex-direction: column;
}

.App header .nav-icon.active ~ .nav-ul {
  display: flex;
}

.App header nav li {
 background-color: blue;
}


.App footer a[href*="linkedin"] {
 background-color: red;
 color: inherit; /*prebere barvu od parent el*/
}


/* mobile first */

@media (min-width: 800px) {
  header > *, main > *, aside > *, footer > * {
    width: 80%;
    max-width: 1500px; /*might change in the future
    */
  }

  .App header .nav-icon {
    display: none;
  }

  .App header .nav-ul, .App header .icon-nav:not(.active) ~ .nav-ul {
    flex-direction: row;
    display: flex;
  }
}

@media (min-width: 1200px) {


}