
/*-----MOBILE FIRST */

/*-------- themes, that are randomly choosed through HOC RandomBackground.js ----------*/

.warm-theme  {
  --darkest-color: #B01E68;
  --dark-color: #DC3535;
  --light-color: #F49D1A;
  --light-color-filter-from-black: invert(73%) sepia(19%) saturate(4007%) hue-rotate(347deg) brightness(98%) contrast(95%); /*tohle upravovat v zavislosti na light-color*/
  --lightest-color: #FFE15D;
}
  
.pastel-warm-theme {
    --darkest-color: #874C62;
    --dark-color: #C98474;
    --light-color: #F2D388;
    --light-color-filter-from-black: invert(87%) sepia(40%) saturate(484%) hue-rotate(338deg) brightness(99%) contrast(91%);
      /*tohle upravovat v zavislosti na light-color*/
    --lightest-color: #FFF7D2;
}
  
.pastel-cold-theme {
    --darkest-color: #0D4C92;
    --dark-color: #59C1BD;
    --light-color: #A0E4CB;
    --light-color-filter-from-black: invert(93%) sepia(11%) saturate(968%) hue-rotate(92deg) brightness(95%) contrast(88%);
      /*tohle upravovat v zavislosti na light-color*/
    --lightest-color: #CFF5E7;
}
  
  /*------------- */


  
.App {
  text-align: center;
  /* color: var(--lightest-color); */
  --contrast-color: var(--light-color);
  position: relative;
  --color-text: #D7D7D7; /* == invert(90%) z cerne */
  --color-text-hover: #B2B2B2; /* == invert(70%) z cerne*/
  position: relative;
  min-height: 100vh;
  /* background-color: var(--darkest-color); */
}



/* ------ width of content ----------*/
/* testing 600px width of inner content and 1000px for projects and nav content*/

header > *, main > *, aside > *, footer > * {
  width: 90%; /*takhle to nemuzu nastavovat na vsechno*/
  margin: 0 auto;
    /*musi byt stejne jako pro .sky_container - might change in the future
      */
}

main > * {
  max-width: 1400px;
}


/*--------- colors & background-colors -------*/

header, main, footer {
  color: var(--color-text);
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-absolute-positioning-replacement {
  width: 1px;
  height: 400px;
  /* z-index: -10; nefunguje, takze neresi situaci */
}

header {
  background-color: var(--primary-color);
}



/*------------------*/

.App header {
  /* min-height: 100vh; */
  height: 5rem;
  position: static;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}

.App header nav {
  position: relative;
  width: 90%;
}

.App header .nav-icon.active ~ nav {
  position: fixed;
  inset: 0;
  width: 100vw;
  display: grid;
  place-content: center;
  background-color: var(--dark-color);
  z-index: 2;

  /* padding-top: 2rem; */
  /* top: 1rem; */
  /* display: flex; */
}

.App .logo {
  /* height: 40vmin; */
  /* pointer-events: none; */
  padding: 1rem 0;
  flex: 1;
  text-align: left;
  order: 3;
  width: max-content;
}

.App .logo a {
  color: var(--light-color);
}

.App .logo img {
  height: 1.5rem;
  margin-top: .5rem;
  filter: invert(90%);
}

a {
  color: white;
  text-decoration: none;
  }
  
  a.active {
    color: var(--contrast-color);
  }



.App header .nav-ul {
  list-style: none;
  display: none;
  gap: 1.5rem;
  flex-direction: column;
  text-transform: uppercase;
}

.App header .nav-li {
  height: 1.2rem;
  filter: invert(90%);
}

.App header .nav-li:hover {
  filter: invert(70%);
}

.App header a.active .nav-li {
filter: var(--light-color-filter-from-black);
}


.App header .nav-icon {
  position: absolute;
  width: fit-content;
  right: 0;
  z-index: 3;
  padding: 1rem;
  background-image: url(./img/hamburgr.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 1.5rem;
  margin: 1.5rem;
  filter: invert(90%);
  cursor: pointer;
}

.App header .nav-icon.active {
  position: absolute;
  right: 0;
  z-index: 3;
  background-image: url(./img/x.png);
}

.App header .nav-icon.active ~ nav .nav-ul {
  display: flex;
}

/* .App header nav li {
 background-color: blue;
} */

.App main {
  z-index:1;
}

.App footer {
  padding-top: 5rem;
  z-index: 0;
}

.App footer a[href*="linkedin"] {
 /* background-color: red; */
 color: inherit; /*prebere barvu od parent el*/
}


.Thanks.container {
  padding-top: 4rem;
}

.Thanks.container h1 {
  padding: 2rem;
}

.Thanks.container p {
  padding: 1rem 2rem;
}


/* mobile first */

@media (min-width: 500px) {
  header > *, main > *, aside > *, footer > * {
    width: 90%;
  }

  .App header nav, .App header .nav-icon.active ~ nav {
    position: relative;
    background-color: transparent;
    width: 90%;
    padding-top: 2rem; 
    /* top: 1rem; */
    display: flex;
  }

  .App .logo {
    order: 0;
    padding: 0;
  }

  .App .logo img {
    height: 1.2rem;
    margin-top: 0rem;
  }

  .App header .nav-icon {
    display: none;
  }

  .App header .nav-li {
    height: .8rem;
  }

  .App header .nav-ul, .App header .icon-nav:not(.active) ~ nav .nav-ul {
    flex-direction: row;
    display: flex;
  }
}

@media (min-width: 1200px) {
  .App header .nav-ul {
    gap: 2.5rem;
  }

}

@media (min-width: 1600px) {
    .App .logo img {
      height: 2rem; /*1.2*/
    }

    .App header .nav-li {
      height: 1.6rem; /*.8*/
    }

    .App header .nav-ul {
      gap: 3.5rem;
    }

}